body {
  background: #f9e933;
}

header, main, footer {
  min-width: 855px;
}

header .container, main .container, footer .container {
  max-width: 855px;
  margin: auto;
}

header {
  background: white;
  overflow: auto;
}

header h1 {
  float: left;
  width: 570px;
}

header nav {
  float: right;
  width: 285px;
}

main {
  background: white;
  font-family: Times New Roman, Serif;
  overflow: auto;
}

.a
{
  background: #C0C0C0;
  color: black;
}

.b
{
   font-family: Times New Roman, Serif;
  color: black;
  background: white;
  background-size: auto;
}

main .left {
  float: left;
  width: 570px;
}

main .right {
  float: right;
  width: 285px;
}

footer .left{
  float: left;
  width: 570px;
}

footer .sitemap {
  float: right;
  width: 285px;
}